---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kontakt</Fragment>
      <Fragment slot="desc">here to help</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Fragen? Ideen? Feedback?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Wir freuen uns über deine Nachricht – egal ob du etwas wissen möchtest, Feedback
        hast oder einfach mehr über unsere Angebote erfahren willst.
      </p>

      <h2 class="font-bold text-3xl text-gray-800 mt-8">
        Kontaktdaten
      </h2>

      <div class="mt-5">
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
          <span>Rocco Georgi, PavingWays GmbH, Badstrasse 13A, 6045 Meggen</span>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
          <a href="mailto:wonderdots@pavingways.com">wonderdots@pavingways.com</a>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
          <a href="tel:+41768315837">tel: +41 76 831 58 37</a>
        </div>
      </div>
    </div>

  </Container>
</Layout>
