---
import { Icon } from "astro-icon/components";
import Link from "../ui/link.astro";
import { Picture } from "astro:assets";
---

<div class="border-2 border-dashed border-black bg-white rounded-xl px-6 pt-2 pb-4">
  <div class="mt-4 flex flex-row">
    <Icon class="text-black w-10 h-10 pb-2 inline-block mr-2" name="bx:user" />
    <div class="mt-1 ml-1 text-left">
      <span class="block xs:inline">Kinder im Alter von ca. 7 bis 10 Jahren</span>
    </div>
  </div>
  <div class="mt-4 flex flex-row">
    <Icon class="text-black w-10 h-10 pb-2 mr-2" name="bx:calendar" />
    <div class="mt-1 ml-1 text-left">
      <span class="block xs:inline">Samstag, 18.10.2025 oder</span><br>
      <span class="block xs:inline">Samstag, 22.11.2025</span>
    </div>
  </div>
  <div class="mt-4 flex flex-row">
    <Icon class="text-black w-10 h-10 pb-2 mr-2" name="bx:time" />
    <div class="mt-1 ml-1 text-left">
      <span class="block xs:inline">3 Stunden von 9:00 bis 12:00 Uhr</span>
    </div>
  </div>
  <div class="mt-4 flex flex-row">
    <Icon class="text-black w-10 h-10 pb-2 inline-block mr-2" name="bx:building-house" />
    <div class="mt-1 ml-1 text-left">
      <span class="block xs:inline">Gemeindesaal Meggen</span><br>
      <span class="block xs:inline">Am Dorfplatz 3</span>
    </div>
  </div>
  <div class="mt-4 flex flex-row">
    <Icon class="text-black w-10 h-10 pb-2 inline-block mr-2" name="bx:credit-card" />
    <div class="mt-1 ml-1 text-left">
      <span class="block xs:inline">Kursgebühr CHF 75.00</span>
    </div>
  </div>
</div>
