---
import CarouselImages from "@components/carouselimages.astro";

// read all files from filesystem in public/images/events/drawings
const drawings = Object.entries(
  import.meta.glob("/public/images/drawings/*.{png,jpg,jpeg,webp}", { eager: true })
).map(([path, mod]) => ({
  src: mod.default.src,
  alt: path.split("/").pop()?.split(".")[0] ?? "",
  width: mod.default.width,
  height: mod.default.height
}));
const eventimages = [
  {
    src: "/images/events/IMG_1418.jpg",
    width: 180,
    height: 180, alt: ""
  },
  {
    src: "/images/events/IMG_1419.jpg",
    width: 180,
    height: 180, alt: ""
  },
  {
    src: "/images/events/IMG_1726.jpg",
    width: 180,
    height: 180, alt: ""
  },
  {
    src: "/images/events/IMG_1727.jpg",
    width: 180,
    height: 180, alt: ""
  },
  {
    src: "/images/events/IMG_6869.jpg",
    width: 180,
    height: 180, alt: ""
  },
  {
    src: "/images/events/IMG_6874.jpg",
    width: 180,
    height: 180, alt: ""
  },
  {
    src: "/images/events/IMG_6881.jpg",
    width: 180,
    height: 180, alt: ""
  }
];
---

<>
  <h2 class="font-bold text-3xl text-gray-800">
    Kreativ. Spielerisch. Verständlich.
  </h2>
  <p>
    Unsere Kurse sind keine herkömmlichen Programmierkurse:
    Sie vermitteln <strong><a href="https://en.wikipedia.org/wiki/Computational_thinking" rel="nofollow noopener">Computational Thinking</a></strong> – das logische,
    strukturierte und kreative Denken, das hinter jeder Programmier-Lösung steckt.
  </p>
  <p>
    Kinder werden <strong>kreativ</strong> und zeichnen ihre eigenen Spielfiguren auf Papier.
    Sie lernen wichtige <strong>Konzepte</strong> mit den Themen, die sie interessieren: <strong>Computerspiele</strong> begeistern - vor allem, wenn sie <strong>selbst gestaltet und programmiert</strong> werden.
  </p>

  <p>
    Einige Beispiele von Zeichnungen aus unseren Veranstaltungen.
  </p>

  <CarouselImages images={drawings} zoomable={false} />

  <h2 class="font-bold text-3xl text-gray-800">
    Erprobt & bewährt
  </h2>
  <p>
    Unsere Inhalte wurden <strong>im Unterricht an Primarschulen</strong>, <strong>auf Messen</strong> wie der
    <a href="https://tunbasel.ch/" rel="nofollow noopener">tunBasel</a>
    und der <a href="https://tunsolothurn.ch/" rel="nofollow noopener">tunSolothurn</a>
    sowie <strong>bei Events</strong> im <a href="https://www.verkehrshaus.ch/" rel="nofollow noopener">Verkehrshaus der Schweiz</a>
    in Luzern mit <strong>Hunderten von Kinden</strong> im Alter von 6 bis 14 Jahren erfolgreich getestet.
  </p>

  <CarouselImages images={eventimages} zoomable={true} />

  <h2 class="font-bold text-3xl text-gray-800">
    Einzigartiges Werkzeug: RULER.game
  </h2>
  <p>
    Wir arbeiten eng mit der Fachhochschule Nordwestschweiz (FHNW) zusammen und
    sind aktiv an der Weiterentwicklung von <a href="https://www.ruler.game/" rel="nofollow noopener">RULER.game</a> beteiligt –
    einer innovativen Schweizer Lernumgebung, die Tablets, Smartphones und Laptops in Tools für
    kollaboratives informatisches Denken verwandelt.
  </p>
  <p>
    RULER.game ist ein aktives <a href="https://about.ruler.game/" rel="nofollow noopener">Forschungsprojekt</a>.
    Es ist zentraler Bestandteil unserer Kurse und wird laufend um neue Funktionen erweitert.
  </p>

  <h2 class="font-bold text-3xl text-gray-800">
    Lernen mit Kopf, Herz und Hand
  </h2>
  <p>
    Unsere Workshops finden in kleinen Gruppen mit maximal 10 Kindern statt. Das
    schafft Raum für individuelles Lernen, Teamarbeit und kreative Entfaltung – sowohl
    am Bildschirm als auch darüber hinaus.
  </p>
  <p>
    Wir vermitteln dabei:
  </p>
  <ul class="list-disc list-inside">
    <li>grundlegendes Verständnis für digitale Systeme,</li>
    <li>wie Computer "denken" und Entscheidungen treffen,</li>
    <li>kreative Problemlösestrategien mit nachhaltigem Nutzen für Schule und Alltag.</li>
  </ul>

  <h2 class="font-bold text-3xl text-gray-800">
    Ergänzung zum Schulunterricht
  </h2>
  <p>
    Unsere Angebote erweitern und vertiefen, was im regulären Primarschul-Unterricht behandelt wird.
    <strong>Lehrpersonen</strong> binden wir gerne aktiv in unsere Workshops ein, um gemeinsam neue
    Wege in der informatischen Bildung zu beschreiten.
  </p>

  <p>
    Unsere Aktivitäten sind bestens dafür geeignet, von Lehrpersonen direkt in der Primarschule durchgeführt zu werden.
    Gern <a href="/kontakt" rel="nofollow noopener">informieren wir Interessierte</a> im Detail.
  </p>

</>
