---
import { Picture } from "astro:assets";
---

<a id="aboutcourses" class="mb-16 block" />

<div class="px-5">
  <h2 class="mt-16 mb-4 text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Über unsere Kurse
  </h2>

  <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mb-4">
    Informatik: Spielerisch und Kreativ
  </h3>
  <p class="mt-4">
    Die Inhalte unserer Kurse sind im Unterricht an Primarschulen erprobt.
    Sie wurden ausserem auf Messen wie der <a href="https://tunbasel.ch/">tunBasel</a> und der <a href="https://tunsolothurn.ch/">tunSolothurn</a> mit hunderten Kinden im Alter von 6 bis 14 Jahren erfolgreich getestet.
  </p>
  <p class="mt-4">
    In unseren Kursen benutzen wir <a href="https://ruler.game/">RULER.game</a>, eine "Schweizer Programmierumgebung die Tablets, Smartphones, und Laptops in Collaborative Computational Thinking Tools verwandelt".
  </p>
  <p class="mt-4">
    Wir sind in die Entwicklung von <a href="https://ruler.game/">RULER.game</a> involviert, arbeiten so aktiv an der Erweiterung der Software und helfen so, das damit verbundene Forschungsprojekt an der FHNW weiter zu bringen.
  </p>
  <p class="mt-4">
    Wir setzen auf kleine Gruppen mit maximal 10 Kindern. So bleibt genug Raum für individuelles Lernen und kreative Aktivitäten – nicht nur am Bildschirm, sondern auch abseits davon. Es geht uns nicht darum, Programmieren als Selbstzweck zu
    lehren, sondern Kindern ein tiefes Verständnis für Computer, Informatik und digitale Zusammenhänge zu vermitteln.
  </p>
  <p class="mt-4">
    Dabei entwickeln sie wichtige Strategien, die ihnen im Alltag, in der Schule und später im Leben helfen.
  </p>
  <p class="mt-4">
    Zusätzlich sind wir an der Entwicklung von RULER.game beteiligt – einer innovativen Schweizer Programmierumgebung, die Tablets, Smartphones und Laptops in interaktive Werkzeuge für Collaborative Computational Thinking verwandelt. RULER.game
    ist ein fester Bestandteil unserer Workshops, und unser Angebot wächst stetig um neue, spannende Aktivitäten.
  </p>
  <p class="mt-4">
    Unsere Kurse sind eine spannende Ergänzung zum Unterricht an Schweizer Primar-, Sekundar- und Kantonsschulen. Lehrpersonen binden wir gerne aktiv ein, um gemeinsam neue Wege in der informatischen Bildung zu erkunden.
  </p>
  <p class="mt-4">
    Wir sehen unsere Events als Ergänzung und Erweiterung zu dem, was im Unterricht an Schweizer Primar-, Sekundar- und Kantonsschulen vermittelt wird.
    Gern binden wir engagierte Lehrpersonen in unsere Workshops ein.
  </p>
</div>