---
import { Picture } from "astro:assets";
import Link from "./ui/link.astro";
import { Icon } from "astro-icon/components";
import img1 from "../assets/sliders/aboutcourses/IMG_1418.jpg";
import img2 from "../assets/sliders/aboutcourses/IMG_1727.jpg";
import img3 from "../assets/sliders/aboutcourses/IMG_6879.jpg";
---

<a id="aboutcourses" class="mb-16 block" />

<div class="flex flex-col gap-6 mx-auto mt-16">
  <h2 class="mt-4 mb-4 text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Über unsere Kurse
  </h2>

  <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Informatik: Kreativ. Spielerisch. Verständlich.
  </h3>
  <p>
    Unsere Kurse sind keine herkömmlichen Programmierkurse:
    Sie vermitteln kein Coding, sondern Computational Thinking – das logische,
    strukturierte und kreative Denken, das hinter jeder Programmier-Lösung steckt.
  </p>


  <!-- insert carousel here -->


  <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Erprobt & bewährt
  </h3>
  <p>
    Unsere Inhalte wurden im Schulunterricht an Primarschulen und auf Messen wie der
    <a href="https://tunbasel.ch/" rel="nofollow noopener">tunBasel</a>
    und der <a href="https://tunsolothurn.ch/" rel="nofollow noopener">tunSolothurn</a>
    sowie bei Events im <a href="https://www.verkehrshaus.ch/" rel="nofollow noopener">Verkehrshaus der Schweiz</a>
    in Luzern mit Hunderten von Kinden im Alter von 6 bis 14 Jahren erfolgreich getestet.
  </p>
  
  
  
  <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Einzigartiges Werkzeug: RULER.game
  </h3>
  <p>
    Wir arbeiten eng mit der Fachhochschule Nordwestschweiz (FHNW) zusammen und
    sind aktiv an der Weiterentwicklung von RULER.game beteiligt – einer innovativen
    Schweizer Lernumgebung, die Tablets, Smartphones und Laptops in Tools für
    kollaboratives informatisches Denken verwandelt.
    RULER.game ist zentraler Bestandteil unserer Kurse und wird laufend um neue
    Funktionen erweitert.
  </p>
  <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Lernen mit Kopf, Herz und Hand
  </h3>
  <p>
    Unsere Workshops finden in kleinen Gruppen mit maximal 10 Kindern statt. Das
    schafft Raum für individuelles Lernen, Teamarbeit und kreative Entfaltung – sowohl
    am Bildschirm als auch darüber hinaus.
  </p>
  <p>
    Wir vermitteln dabei:
  </p>
    <ul class="list-disc list-inside">
      <li>ein grundlegendes Verständnis für digitale Systeme,</li>
      <li>wie Computer „denken“ und Entscheidungen treffen,</li>
      <li>kreative Problemlösestrategien mit nachhaltigem Nutzen für Schule und Alltag.</li>
    </ul>

  <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Ergänzung zum Schulunterricht
  </h3>
  <p>
    Unsere Angebote erweitern und vertiefen, was im regulären Primarschul-Unterricht
    behandelt wird.
    <strong>Lehrpersonen</strong> binden wir gerne aktiv in unsere Workshops ein, um gemeinsam neue
    Wege in der informatischen Bildung zu beschreiten. Unsere Aktivitäten sind bestens dafür geeignet, direkt in der Schule durchgeführt zu werden.
  </p>

</div>