---
import { Picture } from "astro:assets";
import flyer1 from "assets/wonder-dots-flyer1.jpg";
---

<a id="current" class="mb-16 block" />

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Aktuelle Aktivitäten
  </h2>
  <!--<p class="text-lg mt-4 text-slate-600">-->
  <!--  Wir sind frisch gestartet und bieten vorläufig nur eine Aktivität an.-->
  <!--</p>-->
</div>

<div class="grid gap-10 lg:grid-cols-2 place-items-top pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1">
    <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mb-4">Wir kreieren ein Videogame!</h2>
    <p>In unserem Workshop lernen Kinder, wie sie ein eigenes Videospiel entwickeln können. Wir verwenden die Programmiersprache Scratch, die speziell für Kinder entwickelt wurde. Scratch ist eine visuelle Programmiersprache, die es Kindern ermöglicht, ihre eigenen interaktiven Geschichten, Spiele und Animationen zu erstellen. Scratch ist kostenlos und kann online verwendet werden. Der Workshop ist für Kinder im Alter von 8 bis 12 Jahren geeignet</p>
  </div>
  <div>
    <Picture
      class="border-2 border-black rounded-xl"
      src={flyer1}
      alt="Flyer1"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
</div>