---
import { Picture } from "astro:assets";
import heroImage from "assets/wonder-dots-logo.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid md:grid-cols-3 gap-4 justify-items-start place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="md:col-span-2">

    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      MINT Aktivitäten für Kids
    </h1>

    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Wonder Dots führt <strong>Workshops</strong> für Kinder durch, um sie für die <strong>MINT-Themen</strong>: Mathematik, Informatik, Naturwissenschaften und Technik zu <strong>begeistern</strong>.
    </p>

    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        appearance="outline"
        href="#current"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:calendar" />
        Aktuelle Aktivitäten
      </Link>
    </div>

    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Wir sehen unsere Events als Ergänzung und Erweiterung zu dem, was im Unterricht an Schweizer Primar-, Sekundar- und Kantonsschulen vermittelt wird.
      Gern binden wir engagierte Lehrpersonen in unsere Workshops ein.
    </p>

    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Wir sind in die Entwicklung von <a href="https://ruler.game/">RULER.game</a> involviert - Eine Schweizer Programmierumgebung die Tablets, Smartphones, und Laptops in Collaborative Computational Thinking Tools verwandelt.
    </p>

    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Wir benutzen <a href="https://ruler.game/">RULER.game</a> in unseren Workshops, bieten in Zukunft aber auch weitere Aktivitäten an.
    </p>


  </div>

  <div class="py-6 hidden md:block">
    <Picture
      src={heroImage}
      alt="Wonder Dots Logo"
      widths={[50]}
      sizes="50px"
      loading="eager"
      format="avif"
    />
  </div>


</main>
