---
import { Picture } from "astro:assets";
import heroImage from "assets/wonder-dots-logo.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
---
<main class="mt-44 max-w-screen-xl mx-auto">
  <!-- bubbles -->
  <div class="relative -z-10">
    <div class="absolute w-64 h-64 bg-white rounded-full -top-20 -left-8" />
    <div class="absolute w-52 h-52 bg-white rounded-full -top-12 left-40" />
    <div class="absolute w-40 h-40 bg-white rounded-full -top-24 right-80" />
    <div class="absolute w-96 h-96 bg-white rounded-full -top-24 right-96" />
  </div>

  <!-- content -->
  <div class="bg-white px-10 pt-8 pb-40 xl:rounded-tr-3xl">
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter mb-8">
      MINT-Aktivitäten für Kids
    </h1>

    <div class="grid md:grid-cols-6 gap-16 place-items-top">
      <div class="md:col-span-4 stretch">

        <section class="text-lg mx-auto">
          <p class="mt-4">
            <strong>Wonder <span class="text-gray-500">Dots</span></strong> steht für <strong>Neugier</strong>, <strong>Kreativität</strong> und Spass am <strong>Entdecken</strong>.
          </p>

          <p class="mt-4">
            Unsere <strong>interaktiven Kurse</strong> in <strong>kleinen Gruppen</strong> wecken spielerisch
            das Interesse an Mathematik, Informatik, Naturwissenschaften und Technik (<strong>MINT</strong>) und fördern gezielt
            das <strong>informatische Denken</strong> (Computational Thinking) – nicht nur am Bildschirm!
          </p>
          <p class="mt-4">
            Hast du Lust, mit uns die digitale Welt zu erkunden?
          </p>
          <p class="mt-4">
            Entdecke unsere aktuellen Aktivitäten und melde dich gleich an!
          </p>

          <p class="mt-6 flex flex-col sm:flex-row gap-3">
            <Link
              size="lg"
              appearance="activity"
              href="#current"
              class="flex gap-2 items-center justify-center mt-8 text-xl">
              <Icon class="text-black w-4 h-4" name="bx:calendar" />
              Aktuelle Aktivität
            </Link>
          </p>

          <p class="mt-4">
            Wir freuen uns auf neugierige Köpfe und spannende Events!
          </p>

        </section>
      </div>

      <div class="md:col-span-2 md:mt-8">
        <Picture
          src={heroImage}
          alt="Wonder Dots Logo"
          loading="eager"
          formats={['svg']}
          class="mx-auto"
        />
      </div>
    </div>
  </div>
</main>
