---
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";
import heroImage from "assets/wonder-dots-logo.svg";
import Link from "@components/ui/link.astro";
---
<main class="mt-44 max-w-screen-lg mx-auto">
  <!-- bubbles -->
  <div class="relative -z-10">
    <div class="absolute w-64 h-64 bg-white rounded-full -top-20 -left-8" />
    <div class="absolute w-52 h-52 bg-white rounded-full -top-12 left-40" />
    <div class="absolute w-40 h-40 bg-white rounded-full -top-14 right-80" />
    <div class="absolute w-96 h-96 bg-white rounded-full -top-24 right-96" />
  </div>

  <!-- content -->
  <div class="bg-white px-10 pt-8 pb-40 lg:rounded-tr-3xl">
    <h1 class="text-4xl sm:text-5xl lg:text-7xl font-bold lg:tracking-tight mb-8">
      MINT-Aktivitäten für Kids
    </h1>

    <div class="grid md:grid-cols-6 gap-16 place-items-top">
      <div class="md:col-span-4 stretch">

        <section class="text-lg mx-auto">
          <p class="mt-4">
            <strong>Wonder Dots</strong> steht für <strong>Neugier</strong>, <strong>Kreativität</strong> und Spass am <strong>Entdecken</strong>.
          </p>

          <p class="mt-4">
            Unsere <strong>interaktiven Kurse</strong> in <strong>kleinen Gruppen</strong> fördern gezielt
            das <strong>informatische Denken</strong> (Computational Thinking) und wecken spielerisch
            das Interesse an Mathematik, Informatik, Naturwissenschaften und Technik (<strong>MINT</strong>-Fächer).
          </p>
          <p class="mt-4">
            Dabei sind wir <strong>nicht nur am Bildschirm</strong> aktiv, sondern wir verbinden <strong>kreative Arbeit</strong> z.B. mit Stift und Papier mit informatischen Inhalten.
          </p>
          <p class="mt-4">
            <a href="/kurse">Erfahre mehr zu unserem Konzept und unseren Kursen</a>
          </p>
          <p class="mt-4 font-bold">
            Hast du Lust, mit uns die digitale Welt zu erkunden?
          </p>

          <p class="mt-4 mb-10 flex flex-col sm:flex-row gap-3">
            <Link
              size="lg"
              appearance="activity"
              href="#current"
              class="flex gap-2 items-center justify-center mt-8 text-xl">
              <Icon class="text-black w-8 h-8" name="bx:calendar" />
              Unsere Aktuellen Aktivitäten
            </Link>
          </p>

        </section>
      </div>

      <div class="md:col-span-2 md:mt-8">
        <Picture
          src={heroImage}
          alt="Wonder Dots Logo"
          loading="eager"
          formats={['svg']}
          class="mx-auto"
        />
      </div>
    </div>
  </div>
</main>
