---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Activity1 from "@components/activities/1-programierung-videogame-primarschueler.astro";
import ConceptQuote from "@components/conceptquote.astro";
import Link from "@components/ui/link.astro";
import flyer1 from "assets/activities/ruler-pacman/flyer-informatik-kurs-primarschule-ruler-7-10.png";
import { Picture } from "astro:assets";
---

<Layout title="MINT Workshop 1 - Informatik für Primarschüler: Baue dein eigenes Videogame, Computational Thinking">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Baue Dein eigenes Videogame!</Fragment>
      <Fragment slot="desc">
        Ein eigenes Videogame zu entwickeln ist easy – das geht schon in der Primarschule
      </Fragment>
    </Sectionhead>

    <div class="mx-auto max-w-4xl mt-16 space-y-6">
      <h2 class="font-bold text-3xl text-gray-800">
        Inhalt dieses 3-Stunden Kurses
      </h2>
      <p>
        Dieser Kurs richtet sich an Kinder im Alter zwischen ca. 7 bis 10 Jahre und dauert ca. 3-Stunden.
      </p>
      <p>
        Die Kinder werden kreativ und lernen dabei die Grundlagen der Informatik auf spielerische und kreative Art kennen!
        Sie zeichnen eigene Spielfiguren und entwickeln damit ihr erstes Videogame – <strong>ganz ohne Vorkenntnisse</strong>.
      </p>

      <ConceptQuote />

      <Link href="/activities/ruler-pacman/flyer-informatik-kurs-primarschule-ruler-7-10.pdf" appearance="unstyled" target="_blank">
        <Picture
          class="border-2 border-black rounded-xl float-right md:w-1/2 w-full md:ml-6 mt-12 mb-8"
          src={flyer1}
          alt="Informatik Kurs für Primarschüler ab 7 Jahren"
          widths={[200, 400, 800]}
          loading="eager"
          format="avif"
        />
      </Link>

      <p>
        In diesem Workshop gestalten Kinder ihre eigenen Spielfiguren – ganz klassisch und kreativ mit Stift und Papier.
        Diese werden anschliessend digitalisiert und in ein eigenes kleines Spiel eingebaut.
      </p>
      <p>
        Wir lernen nicht Programmieren, sondern wir wollen spielerisch anfangen zu verstehen, wie Abstraktion, Logik, Regeln und Abläufe im Computer funktionieren - eben das, was hinter jeder guten Software steckt, unabhängig von der
        Programmiersprache.
      </p>
      <p>
        Die Kinder zerlegen ein grösseres Problem (das Game) in einige kleinere. Sie verstehen, wie man einzelnen Schritte in der richtigen Reihenfolge aneinander reihen muss.
        Der Computer kann diese dann ausführen. So hauchen wir den gezeichneten Figuren Leben ein und das Videogame entsteht.
      </p>

      <p>
        Konkret werden wir diese Dinge anschauen:
      </p>

      <ul class="list-disc list-inside pl-4">
        <li>einfache IF/THEN-Regeln</li>
        <li>wie man Punkte zählen kann (Kollisionen)</li>
        <li>wie Gegner im Spiel "denken"</li>
        <li>wie man Töne und Sounds ausgeben kann</li>
        <li>wie Künstliche Intelligenz funktioniert</li>
        <li>wann "Game Over" ist :)</li>
      </ul>

      <p>
        Und wenn das Game doch nicht fertig wird? Kein Problem: Mit einem QR-Code kann es
        jederzeit zu Hause weiterentwickelt und mit der ganzen Familie und Freunden getestet werden.
      </p>

      <h2 class="font-bold text-3xl text-gray-800">
        Hinweise
      </h2>
      <p>
        Bitte bringt ein Tablet oder Smartphone mit. Leihgeräte sind bei Bedarf in begrenzter Stückzahl vorhanden.
      </p>
      <p>
        Eltern dürfen ihre Kinder gern begleiten und helfen.
      </p>
      <p>
        Interessierte Lehrpersonen können sich <a href="/kontakt/">gern bei uns melden</a>, um weitere Informationen oder Anregungen für den eigenen Unterricht zu erhalten.
      </p>

      <h2 class="font-bold text-3xl text-gray-800">
        Details und Anmeldung
      </h2>

      <p>
        Wir veranstalten diesen Kurs in Meggen in Kooperation mit <a href="https://www.mapaki.ch/" rel="nofollow noopener">MAPAKI</a>, die uns freundlicherweise mit einer Location und der Organisation unterstützen - Vielen Dank!
        Die Anmeldung zum Kurs läuft daher ebenfalls über MAPAKI.
      </p>

      <Activity1 />

      <Link
        size="lg"
        appearance="activity"
        href="https://www.mapaki.ch/events/krabbeltreff-kontaktzmorge-128-645-237-492-588/"
        class="flex gap-2 items-center justify-center bg-white text-xl">
        <Icon class="text-black w-4 h-4" name="bx:pencil" />
        Jetzt via MAPAKI anmelden
      </Link>

    </div>
  </Container>
</Layout>
